Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

In [70]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})

In [71]:
data.head()

  whoAmI
0  human
1  human
2  human
3  robot
4  robot

In [73]:
data.loc[data['whoAmI'] =='robot', 'robot'] = 1
data.loc[data['whoAmI'] !='robot', 'robot'] = 0
data.loc[data['whoAmI'] !='human', 'human'] = 0
data.loc[data['whoAmI'] =='human', 'human'] = 1

In [74]:
data[['human','robot']].head()

   human  robot
0    1.0    0.0
1    1.0    0.0
2    1.0    0.0
3    0.0    1.0
4    0.0    1.0